{% extends "frontend/base.html" %}
{% load static %}

{% block content %}


<div class="panel panel-primary panel-custom-primary">
	<div class="panel-heading">
		{{station.name}}
	</div>
	<div class="panel-body">
		<table class="table">
			<tbody>
				<tr>
					<th>Nimi</th>
					<td>{{station.nimi}}</td>
				</tr>
				<tr>
					<th>Namn</th>
					<td>{{station.namn}}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{station.name}}</td>
				</tr>
				<tr>
					<th>Osoite</th>
					<td>{{station.osoite}}</td>
				</tr>
				<tr>
					<th>Adress</th>
					<td>{{station.adress}}</td>
				</tr>
				<tr>
					<th>Kaupunki</th>
					<td>{{station.kaupunki}}</td>
				</tr>
				<tr>
					<th>Stad</th>
					<td>{{station.stad}}</td>
				</tr>
				<tr>
					<th>Capacity</th>
					<td>{{station.kapasiteet}}</td>
				</tr>
				<tr>
					<th>Number of trips starts here</th>
					<td>{{trips_from.count}}</td>
				</tr>
				<tr>
					<th>Number of trips ends here</th>
					<td>{{trips_to.count}}</td>
				</tr>
				<tr>
					<th>X</th>
					<td>{{station.x}}</td>
				</tr>
				<tr>
					<th>Y</th>
					<td>{{station.y}}</td>
				</tr>
				
				
			</tbody>
		</table>
	</div>
</div>




{% endblock %}

