{% extends "frontend/base.html" %}
{% load static %}

{% block content %}








	<div class="panel panel-default manage_container panel-custom-primary">


		<div class="panel-heading">
			<h4>Stations</h4>
		</div>

		<div class="panel-body">
			<table class="table-responsive table_custom_manage">
				<thead>
					<tr>
						<th>Nimi</th>
						<th>Namn</th>
						<th>Name</th>
						<th>Osoite</th>
						<th>Adress</th>
						<th>Kaupunki</th>
						<th>Stad</th>
						<th>Kapasiteet</th>
					</tr>
				</thead>
				<tbody>
						{% if data %}
						    {% for station in data.data %}
						    <tr>
						    	<td>{{station.nimi}}</td>
						        <td>{{station.namn}}</td>
						        <td>{{station.name}}</td>
						        <td>{{station.osoite}}</td>
						        <td>{{station.adress}}</td>
						        <td>{{station.kaupunki}}</td>
						        <td>{{station.stad}}</td>
						        <td>{{station.kapasiteet}}</td>
						        <td><a href="{% url 'station_details' station.id %}" class="manage_icons details_icon" title="" data-toggle="tooltip" data-html="true" data-original-title="Click for more details"><span class="glyphicon glyphicon-list-alt icons-style"></span></a></td>
						    </tr>
						    {% endfor %}
						{% else %}
						    <p>There are no stations</p>
						{% endif %}
						
					
				</tbody>
			</table>




			<!-- list pagination pages -->
			<ul class="pagination">
				{% if data.pages.previous_link %}
					<li><a href="?page={{ data.pages.previous }}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><span>&laquo;</span></li>
				{% endif %}

				{% for i in data.pages.previous_pages %}
					<li><a href="?page={{ i }}">{{i}}</a></li>
				{% endfor %}

					<li class="disabled"><span>{{ data.pages.current_page }}</span></li>

			    {% for i in data.pages.next_pages %}
			    	<li><a href="?page={{ i }}">{{i}}</a></li>
			    {% endfor %}




			    {% if data.pages.next_link %}
			    	<li><a href="?page={{ data.pages.next }}">&raquo;</a></li>
			    {% else %}
			    	<li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
			    <li class="disabled"><span>{{data.pages.num_pages}} pages</span></li>
			</ul>




			
		</div>

	</div>









{% endblock %}